$header-bg-color: #7fb9c7;

header {
  width: 100%;
  height: 400px;
  background-color: $header-bg-color;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-freckles.png");
  margin: 120px 0px 0px 0px;
  
  div {
    text-align: center;
  
  }
}

