#tweet-text {
  border: none;
  border-bottom: 5px solid black;
  display: flex;
  width: 100%;
  background-color: transparent;
  margin: 10px 0px;
}
#tweet-text:focus {
  outline: none;
}
#tweet-button-area {
  display: flex;
  justify-content: space-between;
}

.new-tweet label {
  font-size: 30px;
  font-weight: bolder;
}

.new-tweet button {
  background-color: #4056a1;
  color: #FFFFFF;
  font-family: Bungee;
  padding: 5px 10px;
}

.counter {
  font-family: Bungee;
}

.red {
  color: red;
}