/* for new tweet container box */

/* text area */

.new-tweet {
  display:none;
}
.new-tweet #tweet-text {
  border: none;
  border-bottom: 5px solid black;
  display: flex;
  width: 100%;
  background-color: transparent;
  margin: 10px 0px;
}
.new-tweet #tweet-text:focus {
  outline: none;
}
.new-tweet #tweet-button-area {
  display: flex;
  justify-content: space-between;
}
.new-tweet label {
  font-size: 30px;
  font-weight: bolder;
}
.new-tweet button {
  background-color: #4056a1;
  color: #FFFFFF;
  font-family: Bungee;
  padding: 5px 10px;
}
.new-tweet button:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.new-tweet .counter {
  font-family: Bungee;
  display: flex;
  align-items: center;
}
.new-tweet #error {
  color: red;
  font-weight: bold;
}
