/* styling for each old tweets */

/* general styling */
.old-tweet {
  border: 5px solid black;
  margin: 50px 0px;
  text-shadow: 0 0 2px #000;
  padding: 10px;
}
.old-tweet:hover {
  text-shadow: none;
  box-shadow: 10px 10px lightsteelblue;

}
.old-tweet:hover .tweeter-id {
  color : lightsteelblue;
}

/* header */
.old-tweet header {
  background-color: transparent;
  background-image: none;
  display: flex;
  justify-content: space-between;
  height: 5%;
  margin: 0px;
  font-weight: bold;
}
.old-tweet header .img-name {
  height: 64px;
  display: flex;
  align-items: center;
}
.old-tweet header .tweeter-id {
  color: #f4f1ec;
  text-shadow: none;
  padding: 0px 0px 5px 0px;
  display: flex;
  align-items: center;
}

/* footer */
.old-tweet footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
}
